<h1>ID:<%= @task.id %>のタスク</h1>
<p>タスクの内容<%= @task.content %></p>
<p>タスクのステータス<%= @task.status %></p>

<ul>
  <li><%= link_to 'タスクの一覧',  tasks_path %></li>
  <li><%= link_to 'タスクの更新',  edit_task_path(@task) %></li>
  <li><%= link_to 'タスクの削除',  @task, method: :delete %></li>
</ul>
